/* .cricket:hover img{
    border: 1px solid black;
}
.bat > img{
    transform: rotate(-90deg);
    transform-origin: top right;
    transition: transform 1s;
} */


.field{
    border: 0px solid;
    border: 1px  dotted black;
}


.field:hover .bat{
    transform: rotate(-60deg);
    transform-origin: top right;
    transition: transform 0.1s;
}

.ball{
    height: 40px;
    background-color: red;
    width: 40px;
    border-radius: 25px;
    position: relative;
    left: 513px;
}
.field:hover .ball{
    transform: translate(900px, -400px);  
    transition: transform 1s ease-out 0.1s; 
}